/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ===== FONT FACE ===== */
@font-face {
   font-family: 'weather_sunday_-_personal_uRg';
   src: url('../fonts/weathersundaypersonaluse-d5qx-webfont.woff2') format('woff2'),
	  url('../fonts/weathersundaypersonaluse-d5qx-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
/* ===== end font face ===== */

/* ===== VARIABLES CSS ===== */
:root{
	--header-height: 3rem;

	/* ===== Colors ===== */
	--blue-color: #1A508B;
	--navy-color: #172774;
	--white-color: #FFF;
	--text-color: #141414;
	--body-color: #EDEDED;

	/* ===== Font & Typography ===== */
	--text-font: 'Poppins', sans-serif;
	--title-font: 'weather_sunday_-_personal_uRg';
	--biggest-font-size: 2.50rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--h4-font-size: 1.1rem;
	--normal-font-size: .938rem;
	--small-font-size: .725rem;

	/* ===== Font Weight ===== */
	--regular-font: 400;
	--medium-font: 500;
	--semi-bold-font: 600;

	/* ===== Margins ===== */
	--mb-1: .5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;

	/* ===== z-index ===== */
	--z-fixed: 100;
	--z-popup: 200;
}
@media screen and (min-width: 768px){
	:root{
		--biggest-font-size: 4rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--h4-font-size: 1.15rem;
		--normal-font-size: 1rem;
	}
}
/* ===== end variables css ===== */

/* ===== BASE ===== */
*,::before,::after{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	line-height: 1.6;
	overflow: hidden; /* POP-UP */
}
h1,h2,p,ul{
	margin: 0;
}
ul{
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
.l-main{
	overflow-x: hidden;
}
/* ===== end base ===== */

/* ===== LAYOUT ===== */
.bd-container{
	max-width: 1024px;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}
.bd-grid{
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5rem;
}
.l-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: var(--z-fixed);
}
/* ===== end layout ===== */

/* ===== CSS CLASS ===== */
.section{
	padding: 4rem 0 3rem;
}
.section-title{
	font-family: var(--title-font);
	font-size: var(--h1-font-size);
	text-align: center;
	margin-bottom: var(--mb-4);
}
.section-subtitle{
	display: block;
	text-align: center;
	margin-bottom: var(--mb-4);
}
/* ===== end css class ===== */

/* ===== SOCIAL MEDIA ===== */
.social__media{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (auto)[2];
		grid-template-columns: repeat(2,auto);
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-column-gap: .7rem;
	   -moz-column-gap: .7rem;
			column-gap: .7rem;
}
.social__media-link{
	background-color: var(--blue-color);
	color: var(--white-color);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0.5rem;
	font-size: 1.5rem;
	border-radius: 50%;
}
/* ===== end social media ===== */

/* ===== BUTTONS ===== */
.button{
	background-color: var(--blue-color);
	max-width: -webkit-max-content;
	max-width: -moz-max-content;
	max-width: max-content;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem 1.5rem;
	border-radius: .5rem;
	cursor: pointer;
}
.button__flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: var(--white-color);
}
.button__icon{
	font-size: 1.5rem;
	margin-right: var(--mb-1);
}
/* ===== end buttons ===== */

/* ===== NAV ===== */
.nav{
	height: var(--header-height);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media screen and (max-width: 767px){
	.nav__menu{
		position: fixed;
		bottom: 0;
		left: 0;
		height: 64px;
		height: 4rem;
		width: 100%;
		padding: 0 16px;
		padding: 0 1rem;
		display: -ms-grid;
		display: grid;
		-ms-grid-row-align: center;
		    align-items: center;
		background-color: var(--white-color);
		border-radius: 1.25rem 1.25rem 0 0;
		-webkit-transition: .4s;
		transition: .4s;
	}
}
.nav__logo{
	color: var(--text-color);
	display: none;
}
.nav__list,
.nav__link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav__list{
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.nav__link{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
	font-weight: var(--semi-bold-font);
	color: var(--text-color);
}
.nav__name{
	font-size: var(--small-font-size);
}
.nav__icon{
	font-size: 24px;
	font-size: 1.5rem;
}

/* Active Link */
.active-link{
	position: relative;
	color: var(--blue-color);
	-webkit-transition: .3s;
	transition: .3s;
}
.active-link:before{
	content: '';
	position: absolute;
	bottom: -4.8px;
	bottom: -.3rem;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--blue-color);
	display: none;
}

/* Change background header */
.scroll-header{
	background-color: var(--white-color);
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
/* ===== end nav ===== */

/* ===== HOME ===== */
.home{
	width: 100%;
	height: 100vh;
}
.home__container{
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.home__content{
	text-align: center;
}
.home__subtitle{
	font-weight: var(--regular-font);
	margin-bottom: var(--mb-2);
}
.home__title{
	font-size: var(--biggest-font-size);
	font-family: var(--title-font);
	margin-bottom: var(--mb-2);
}
.home__description{
	background-color: rgba(255,255,255,.5);
	padding: 1rem 2rem;
	border-radius: .5rem;
	width: 100%;
}
.home__description span{
	display: block;
	font-weight: var(--semi-bold-font);
	font-size: var(--h3-font-size);
}
.home__place{
	font-weight: var(--regular-font) !important;
}
/* ===== end home ===== */

/* ===== COUPLE ===== */
.couple{
	text-align: center;
}
.couple span{
	display: block;
}
.bismillah{
	text-align: center;
	margin-bottom: var(--mb-2);
}
.bismillah__img{
	width: 350px;
}
.couple__subtitle{
	font-style: italic;
	margin-bottom: var(--mb-2);
}
.couple__greeting{
	margin-bottom: var(--mb-5);
}
.couple__box{
	background-color: rgba(255,255,255,.5);
	border-radius: .5rem;
	padding: 1.5rem;
}
.couple__img{
	width: 150px;
	height: 200px;
	background-color: var(--white-color);
	border-radius: .5rem;
	overflow: hidden;
	position: relative;
	margin: 0 auto var(--mb-1);
}
.couple__img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.bride__img{
	background-color: var(--blue-color);
}
.couple__name{
	font-family: var(--title-font);
	font-size: var(--h1-font-size);
	margin-bottom: var(--mb-2);
}
.couple__description{
	margin-bottom: var(--mb-1);
}
.couple__bold{
	font-weight: var(--semi-bold-font);
}
/* ===== end couple ===== */

/* ===== EVENT ===== */
.event span{
	display: block;
}
.event__container{
	background: rgba(255,255,255,.6) url(../img/event_bg.jpg) no-repeat center/cover;
	background-blend-mode: overlay;
	padding: 2rem 1rem;
	border-radius: 1rem;
}
.event__img{
	text-align: center;
}
.event__icon{
	width: 70px;
}
.day{
	text-align: center;
	font-size: var(--h1-font-size);
	font-weight: var(--semi-bold-font);
	font-family: var(--title-font);
	margin: var(--mb-2) 0 var(--mb-3);
}
.date{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	font-size: var(--h1-font-size);
	font-family: var(--title-font);
	font-weight: var(--semi-bold-font);
}
.number{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.month,
.year{
	width: 40%;
	text-align: center;
	border-top: 2px solid var(--text-color);
	border-bottom:2px solid var(--text-color);
	padding: 1rem 0;
}
.place{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
	margin-top: var(--mb-3);
	margin: var(--mb-3) 0 var(--mb-4);
}
.place__line{
	width: 2px;
	height: 30px;
	background-color: var(--text-color);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.place1,
.place2{
	width: 40%;
}
.place1__title,
.place2__title{
	font-size: var(--h3-font-size);
	font-weight: var(--semi-bold-font);
	margin-bottom: .3rem;
}
.place1{
	text-align: right;
}
/* ===== end event ===== */

/* ===== TIMER ===== */
.timer{
	margin-top: var(--mb-6);
}
.timer__container{
	-ms-grid-columns: (minmax(100px,1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
	place-items: center !important;
}
.timer__box{
	width: 100px;
	height: 100px;
	border-top-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
	border-top-right-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	background-color: var(--blue-color);
	color: var(--white-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
}
.timer__number{
	font-size: var(--h1-font-size);
	font-family: var(--title-font);
}

/* Timer Stop */
#timer-stop{
	text-align: center;
	margin-top: var(--mb-3);
}
/* ===== end timer ===== */

/* ===== QUOTES ===== */
.quotes__container{
	text-align: center;
}
.quotes__container span{
	display: block;
	font-weight: var(--semi-bold-font);
	margin-top: var(--mb-1);
}
/* ===== end quotes ===== */

/* ===== PROKES ===== */
.prokes .section-title{
	margin-bottom: 0;
}
.prokes__container{
	background-color: var(--blue-color);
	color: var(--white-color);
	-ms-grid-columns: (minmax(120px,1fr))[auto-fit];
		grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
	padding: 3rem 1.5rem;
	border-radius: .5rem;
}
.prokes__img{
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}
.prokes__description{
	display: block;
	text-align: center;
}
/* ===== end prokes ===== */

/* ===== MESSAGE ===== */
.message__container{
	background-color: var(--white-color);
	border-radius: .5rem;
	padding: 1rem;
}
.message__field{
	margin-bottom: var(--mb-2);
	position: relative;
}
.message__field:last-child{
	margin-bottom: 0;
}
.message__field label{
	font-weight: var(--medium-font);
}
.message__input,
.message__textarea{
	display: block;
	outline: none;
	border: none;
	padding: .3rem 0;
	border-bottom: 2px solid silver;
	width: 100%;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	color: var(--text-color);
}
.message__textarea{
	height: 125px;
	resize: none;
}
.underline{
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
}
.underline::before{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: var(--blue-color);
	-webkit-transform: scaleX(0);
			transform: scaleX(0);
	-webkit-transform-origin: center;
			transform-origin: center;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.message__input:focus ~ .underline:before,
.message__input:valid ~ .underline:before,
.message__textarea:focus ~ .underline:before,
.message__textarea:valid ~ .underline:before
{
	-webkit-transform: scaleX(1);
			transform: scaleX(1);
}
.message__button{
	max-width: 100%;
	margin-top: var(--mb-2);
}

/* Message Respon */
#message-respon div{
	margin-top: var(--mb-1);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
	   -ms-flex-align: center;
		   align-items: center;
}
#message-respon div.yes i,
#message-respon div.no i{
	font-size: 1.5rem;
	margin-right: .3rem;
}
/* ===== end message ===== */

/* ===== FOOTER ===== */
footer{
	background-color: var(--blue-color);
	color: var(--white-color);
	text-align: center;
	padding: 2.5rem 0 2rem;
	margin-top: var(--mb-4);
}
footer span{
	display: block;
}
.footer__name{
	font-family: var(--title-font);
	font-size: var(--biggest-font-size);
	margin-bottom: var(--mb-2);
}
.footer__thanks{
	font-weight: var(--medium-font);
	letter-spacing: 2px;
	margin-bottom: var(--mb-4);
}
.footer__closing{
	font-family: var(--title-font);
	font-size: var(--h2-font-size);
}
.footer__box:first-child{
	margin-bottom: var(--mb-6);
}
.footer__box .social__media{
	padding-top: 2rem;
}
footer .social__media-link{
	background-color: var(--white-color);
	color: var(--blue-color);
}
/* ===== end footer ===== */

/* ===== BACKSOUND ===== */
.backsound{
	width: 40px;
	height: 40px;
	background-color: var(--navy-color);
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	position: fixed;
	right: 1rem;
	bottom: 5rem;
}
.backsound__icon{
	width: 23px;
	-o-object-fit: cover;
	   object-fit: cover;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: invert(1) !important;
			filter: invert(1) !important;
	cursor: pointer;
}
/* ===== end backsound ===== */

/* ===== SCROLL TOP ===== */
.scrolltop{
	position: fixed;
	right: 1rem;
	bottom: -20%;
	padding: .3rem;
	background: var(--navy-color);
	border-radius: .4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	z-index: 10;
	-webkit-transition: .4s;
	transition: .4s;
	visibility: hidden;
}
.scrolltop__icon{
	font-size: 1.8rem;
	color: var(--white-color);
}

/* Show scrolltop */
.show-scroll{
	visibility: visible;
	bottom: 1.5rem;
}
/* ===== end scroll top ===== */

/* ===== POP UP ===== */
.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,.7);
	-webkit-backdrop-filter: blur(15px);
			backdrop-filter: blur(15px);
	z-index: var(--z-popup);
}
.popup__container{
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	text-align: center;
}
.popup__content{
	background: url(../img/home_medium.png) no-repeat center/cover;
	background-color: var(--body-color);
	border-radius: .5rem;
	padding: 2rem 1.5rem;
	width: 100%;
}
.popup__subtitle{
	font-size: var(--h1-font-size);
	font-weight: var(--regular-font);
	margin-bottom: var(--mb-4);
}
.popup__line{
	height: 2px;
	width: 50px;
	background-color: var(--text-color);
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
	margin: var(--mb-1) auto;
}
.popup__subtitle2{
	font-weight: var(--regular-font);
	margin: var(--mb-4) 0 0;
}
.popup__title{
	font-size: var(--biggest-font-size);
	font-family: var(--title-font);
	margin: var(--mb-2) 0 var(--mb-3);
}
/* ===== end pop up ===== */

/* ===== MEDIA QUERIS ===== */
@media screen and (max-width: 320px){
	/* ===== NAV ===== */
	.nav__name{
		display: none;
	}
	.active-link::before{
		display: block;
	}
	/* ===== end nav ===== */
}
@media screen and (max-width: 568px){
	/* ===== HOME ===== */
	.home{
		background: url(../img/home_portrait.png) no-repeat center/cover;
	}
	/* ===== end home ===== */
}

@media screen and (min-width: 568px){
	/* ===== HOME ===== */
	.home{
		background: url(../img/home_medium.png) no-repeat center/cover;
	}
	/* ===== end home ===== */

	/* ====== COUPLE ===== */
	.couple__container{
		-ms-grid-columns: (1fr)[2];
			grid-template-columns: repeat(2,1fr);
	}
	/* ===== end couple ===== */

	/* ===== PROKES ===== */
	.prokes__container{
		-ms-grid-columns: (1fr)[3];
			grid-template-columns: repeat(3,1fr);
	}
	.prokes .section-subtitle{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end prokes ===== */

	/* ===== POP UP ===== */
	.popup__content{
		width: 80%;
	}
	/* ===== end pop up ===== */
}

@media screen and (max-width: 768px){
	/* ===== LAYOUT ===== */
	.l-header{
		background-color: transparent !important;
	}
	/* ===== end layout ===== */

	/* ===== NAV ===== */
	.scroll-header{
		box-shadow: none !important;
	}
	/* ===== end nav ===== */

	/* ===== FOOTER ===== */
	footer{
		padding-bottom: 6.5rem;
	}
	/* ===== end footer ===== */
}

@media screen and (min-width: 768px){
	/* ===== CLASS CSS ===== */
	.section{
		padding-top: 7rem;
	}
	/* ===== end class css ===== */

	/* ===== NAV ===== */
	.nav{
		height: calc(var(--header-height) + 1rem);
	}
	.nav__logo{
		display: block;
		font-weight: var(--semi-bold-font);
	}
	.nav__icon{
		display: none !important;
	}
	.nav__name{
		font-size: var(--normal-font-size);
	}
	.nav__item:not(:last-child){
		margin-right: var(--mb-4);
	}

	/* Active Link */
	.active-link::before{
		display: block;
	}

	/* Change Background Header */
	.scroll-header .nav__logo,
	.scroll-header .nav__link{
		font-weight: var(--regular-font);
	}
	/* ===== end nav ====== */

	/* ===== COUPLE ===== */
	.couple__container{
		-webkit-column-gap: 2rem;
		   -moz-column-gap: 2rem;
				column-gap: 2rem;
	}
	/* ===== end couple ===== */

	/* ===== EVENT ===== */
	.place__line{
		width: 2px;
		height: 45px;
	}
	/* ===== end event ===== */

	/* ===== PROKES ===== */
	.prokes__img{
		width: 160px;
	}
	/* ===== end prokes ===== */

	/* ===== MESSAGE ===== */
	.message__container{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end message ===== */
}

@media screen and (min-width: 1024px){
	/* ===== LAYOUT ===== */
	.bd-container{
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end layout ===== */

	/* ===== COUPLE ===== */
	.couple__container{
		-webkit-column-gap: 6rem;
		   -moz-column-gap: 6rem;
				column-gap: 6rem;
	}
	/* ===== end couple ===== */

	/* ===== POP UP ===== */
	.popup__content{
		width: 70%;
	}
	/* ===== end pop up ===== */
}